/*
============================================
; Title:  styles.css
; Author: Brock Hemsouvanh
; Date:   07 Dec 2023
; Description: CSS stylesheet for brockfolio site
;===========================================
*/


/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    color: #333; /* General text color for readability */
    background: #fff; /* Background color of the body */
}

/* Nav section */

header {
    position: relative; /*  position the element relative to its normal position in the document flow */
}
header, footer {
    background-color: #A3DB7D;
    color: #fff; /* This is to ensure text is readable on the primary color */
    padding: 1rem;
    font: bold;
}

footer nav ul {
    padding: 0; /* Removes default padding */
    list-style-type: none; /* Removes default list item bullets */
}

footer nav li {
    display: inline-block; /* Displays list items in a line */
    margin-right: 10px; /* Keeps a margin between the items */
    float: right;
}

nav li {
    display: inline-block;
  }

/* Navigation Links */
nav a {
    display:block;
    color: #fff; /* Color for links in the header and footer */
    text-decoration: none; /* No underline by default */
}

/* Accent color for borders and hover states */
nav a:hover, button:hover, .accent-border, a:hover {
    border-color: #B97EDC; /* Accent color for borders on hover state */
    color: #B97EDC; /* Accent color for text on hover state */
    text-decoration: underline; /* Underline for links on hover */
}

footer a {
    color: #fff; /* Ensuring readability on footer background */
}

footer a:hover {
    text-decoration: underline;
    color: #DBD57D; /* Using the light olive/gold-like color for hover state */
}

/* Warm color for error messages or important messages */
.error-message, .important, .warm-text {
    color: #53435C; /* Warm color for text that needs to stand out */
}

/* Additional color usage for secondary elements or backgrounds */
.secondary-elements, .additional-background {
    background-color: #4D5C43; /* Dark green for secondary elements */
}

.secondary-text {
    color: #DBD57D; /* Light olive/gold-like color for secondary text */
}

/* Buttons and Inputs */
button, input[type="submit"], input[type="button"] {
    background-color: #A3DB7D; /* Primary color */
    color: #fff; /* Readable text color */
    border: none;
    padding: 0.75rem;
    cursor: pointer;
}

/*  accent color for anchor tag underlines */
a {
    text-decoration-color: #B97EDC;
}




/* Styling for headers and titles */
h1, h2, h4, h5, h6 {
    color: #4D5C43; /* Darker text for headers for contrast and emphasis */
}

h3 {
    color: #DBD57D;
}

main {
    display: flex;
    flex-wrap: wrap;
}

#hero {
    background-image: url('Images/lab-brock-cropped.jpg');
    background-position: center; /* centers the image in the section */
    background-repeat: no-repeat; /* Stops the image from tiling */
    width: 100%;
    height: 40vh; /* Set the height of the section */
    display: flex;
    align-items: center;
    justify-content: center;
}

#web-dev-section {
    background-image: url('Images/smokey-brock.jpg');
}

#music-section {
    background-image: url('Images/lovely-brock-guitar-river-pic.jpg');
    color: #DBD57D;
}

#web-dev-section, #music-section {
    display: flex; /* Use flexbox for equal sharing */
}

#web-dev-section, #music-section {
    height: 40vh; /* Set the height of the section */
    width: 50%; /* Set each section to take up half the width */
    box-sizing: border-box; /* Include padding and borders in the element's total width */
    padding: 20px; /* Adjust padding as needed */
    background-size: cover;
    background-position: center;
    min-height: 300px; /* Set a minimum height for each section */
}

/* Responsive adjustments */
@media screen and (max-width: 768px) {
    #web-dev-section, #music-section {
        width: 100%; /* Each section takes full width on small screens */
    }
}

/* Database Section */
#databases-content {
    display: flex; /* Apply a flexbox layout */
    justify-content: space-between; /* Space out the columns evenly */
}

.database-column {
    width: calc(33.333% - 40px); /* Subtract the total padding from the width */
    margin: 20px; /* Provide some space between the columns */
}

/* Responsive adjustments for smaller screens */
@media screen and (max-width: 768px) {
    #databases-content {
        flex-direction: column; /* Stack the columns vertically */
    }
    .database-column {
        width: 100%; /* Each column takes full width on smaller screens */
        margin: 20px 0; /* Adjust margin for vertical stacking */
    }
}

